
.main{
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 20px; /* space between menu items */
}

img {
    width: 200px;
}
a {
    color: rgb(250, 247, 247);
    text-decoration: none;
}