body {
background-color: tan;
}

.menu {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.main {
    background-color: tan;
    width: auto;
    height: 80%;
    display: flex;
    flex-direction: row;
}
.main .section {
    background-color: tan;
    width: 30%;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .section img {
    width: 600px;
    height: auto;
}

button {
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

h2 {
    text-align: center;
    color: whitesmoke;
    padding-top: 2px;
    border: 2px;
    border-radius: 50px;
}

h1 {
    font-size: xx-large;
    text-align: center;
    color: rgb(24, 1, 1);
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin: 15px;
}

p {
    font-size: x-large;
    border: 2px;
    padding: 10px;
    margin: 15px;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    .main .section {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }
    .main .section img {
        width: 100%;
        height: auto;
    }
}